{
  "presets": [["es2015", { "modules": false }], "env", "react", "flow"],
  "env": {
    "test": {
      "plugins": ["transform-es2015-modules-commonjs"]
    }
  },
  "plugins": [
    "transform-es2015-arrow-functions",
    "check-es2015-constants",
    "transform-es2015-block-scoping"
  ]
}
